<div class="row intro-section" style="display:block;position:relative;">
	<div class="large-10 large-offset-1 columns">
		<h3 class="tk-adelle text-center">Hi, Internet</h3>
		<h5 class="tk-adelle tk-adelle-light text-left">I'm <b>Andrew</b><sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup>nice to meet you. I'm an <b>Mobile</b><sup id="fnref:1"><a href="#fn:2" rel="footnote">2</a></sup> enthusiast and developer for <A href="http://renttherunway.com">Rent the Runway</a>, but I've done other apps too like <a href="http://diapers.com">Diapers.com</a> and <a href="http://renewedapp.com">Renewed</a>. I like to build things that are easy to use and useful. This is a custom self deploying blog inspired by jekyll.</h5>

		<h5 class="tk-adelle text-left">You can follow me on <a href="http://twitter.com/bhsdrew">Twitter</a> and <a href="http://github.com/bhsdrew">Github</a> on @bhsdrew</h5>
<br/><br/><br/>
		<hr />
	</div>
</div>
