<div class="row" style="display:block;position:relative;">
	<div class="large-12 columns">
		<h1 class="tk-adelle text-center">Andrew Fernandez</h1>
		<h2 class="tk-adelle tk-adelle-light text-center">&#8220;I don't want to be rescued. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Can I use the gun? &#8221;</h2>
		<p>I don't want to be rescued. My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Can I use the gun?test</p>

		<h6 class="tk-adelle text-center">You can follow me on <a href="http://twitter.com/bhsdrew">Twitter</a> and <a href="http://github.com/bhsdrew">Github</a></h6>
		
		<hr />
	</div>
</div>
