<div class="row" style="display:block;position:relative;">
	<div class="large-10 large-offset-1 columns">
		<h1 class="tk-adelle text-center"><%= post["title"] %></h1>
		<h6 class="tk-adelle text-center"><%= post["date"] %> - by <%= post["author"] %> </h6>
		<div cass="text-body"><%= content %></div>
	</div>
</div>
