@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import 'partials/_fonts';

$bluecolor: #0d83b4;
$twitterblue: #11a2de;
$lightblue : #0d83b4;
$midblue : #6C808C;
$darkblue : #BAC4C9;

$sitebackground: #f9f9f9;
$lightwhite: #e8e8e8;

$break-small : 320px;
$break-mid : 720px;

$mainfont : "adelle",serif;


html{
	height: 100%;
}
body{
	height: 100%;
}

p{
	font-family: "adelle",serif;
	font-weight: 100;
}

a{
	color: $lightblue;

	&:hover{
		color: $darkblue;
	}
}

//move to fonts
.tk-adelle-light{
	font-weight: 100;
}

.entypo {
	font-family: "entypo";
}

//move to nav
#nav{
	display: block;
	padding: 0;
	margin-bottom:20px;
	clear:left;
	border-bottom: 1px solid #eee;
	.circle-logo{
		position: relative;
		top: 0;
		left: 0;
		padding: 15px 10px;
		font-size: 44px;
		color: $bluecolor;
		z-index: 5;
		cursor: pointer;
		opacity: 1;
			@include transition-property(color);
  			@include transition-duration(.2s);
  			@include transition-timing-function(ease-in); 
  			@include transition-property(transform);
  			@include rotate(0deg);
		&:hover{
			opacity: .8;
		}
		&.open{
			color: #000;
			@include transition-property(color);
  			@include transition-duration(.2s);
  			@include transition-timing-function(ease-in);
  			
  			@include transition-property(transform); 
  			@include rotate(90deg); 
		}
	}
}

//back-menu 
#back-panel{
	width:100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	height: 100px;
	padding: 0 0 ;
	background-color: rgba(0, 0, 0, 0.2);
	background: #222 no-repeat center;
	ul{
		color: #fff;
	}
	a{
		font-family: $mainfont;
		font-size: 20px;
		@media screen and (max-width: $break-mid) {
    		font-size: 18px;
  		}
		
		@media screen and (max-width: $break-small) {
    		font-size: 15px;
  		}
		
		color:$lightwhite;
		font-weight: 100;
		span{
			font-size: 90px;
			@media screen and (max-width: $break-mid) {
    			font-size: 70px;
  			}
			@media screen and (max-width: $break-small) {
    			font-size: 50px;
	  		}
	  		
			color: $lightwhite;
		}
	}
}

.background{
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000 no-repeat center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-image: url(/images/menu-back.jpg);
	}

//wrap 
#wrap{
	position: absolute;
	z-index: 2;
	width:100%;
	min-width:100%;
	background: $sitebackground;
	min-height: 100%;
    height: auto !important;
    height: 100%;
	@include transition-property(top);
  	@include transition-duration(.2s);
  	@include transition-timing-function(ease-in); 
  	&.open{
  		top:100px;
  	}
}

//header decoration
.redBorder,
.greenBorder,
.yellowBorder {
  width: 33.33%;
  float: left;
  height: 4px;
}


.redBorder {
  background-color: $lightblue;
}
.greenBorder {
  background-color: $midblue;
}
.yellowBorder {
  background-color: $darkblue;
}

.home-link{
	padding: 10px 0px;
	a{
		color: #333;
	}
}

.social{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	padding:15px;
	text-align: right;

	.twitter-style{
		@include border-radius(2px, 2px);
		background: $twitterblue;
		padding:0 15px;
		display: inline-block;
		position: relative;
		height: 40px;
		padding: 0 20px;
		border: 0;
		color: #fff;
		font-family: "adelle",serif;
		font-weight: 100;
		font-size: 13px;
		line-height: 39px;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;
		font-style: normal;
		cursor: pointer;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		vertical-align: bottom;
		text-rendering: optimizeLegibility; 
	}
}


.footnotes{
	display: none;
}

.footnote{
	p{
		font-size:24px;
	}
}


//footer stuff
footer{
	width: 100%;
	padding:20px 0px;
	p{
		font-size: .7em;
		margin: 0;
	}
}
