<footer>
	<hr />
    <div class="row" >
	<div class="small-12 columns text-center">
		<p class="tk-adelle">You can follow me on <a href="http://twitter.com/bhsdrew">Twitter</a> and <a href="http://github.com/bhsdrew">Github</a></p>
		<p class="tk-adelle" >© 2013–2014 Andrew Fernandez.</p>
	</div>
</div>
 </footer>