<div class="redBorder"></div>
<div class="greenBorder"></div>
<div class="yellowBorder"></div>
  
<nav id="nav">
		<div class="menu circle-logo"><span class="icon-Af-circle"></span></div>
		<div class="social">
			<p class="twitter-style">@bhsdrew</p>
		</div>
</nav>