<div class="redBorder"></div>
<div class="greenBorder"></div>
<div class="yellowBorder"></div>
  
<nav id="nav">
	<div class="row">
		<div class="small-1  columns">
			<div class="menu circle-logo"><span class="icon-Af-circle"></span></div>
		</div>
		
		<div class="small-11  columns">
			<div class="home-link">
				<h3><a class="tk-adelle" href="/">Andrew Fernandez</a></h3>
			</div>
		</div>
		
	</div>	
</nav>